extends ../layout.jade
block content
	if message.length > 0
		div.alert
		.alert-danger
			= message

	form(action=action_signup, method="post")
		div.form-group
			label Email
			input(type="text", name="email", placeholder="Email")
		div.form-group
			label Password
			input(type="password", name="password", placeholder="Password")

		button(type="submit", class="btn btn-warning btn-lg") Signup
	hr
	a(href="/login") I have an acount.
	br
	a(href="/") Go back.
